body {
    margin: 0;
    background: beige;
}

nav {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(35deg, teal 40%, black 90%);
    color: white;
    border-bottom: 2px solid black;
}

select {
    margin: 10% 0 0 5%;
    font-size: 1.5rem;
    width: 10%;
    border-radius: 8px;
    background: darkgray;
    color: white;
}

#charts {
    margin: 10% 20%;
    border-radius: 2px solid ;
}